/* HVR: modify the current style to add lines below classes and functions */

/*
.function {
    border-bottom: 3px solid #d0d0d0;
    padding-bottom: 10px;
    padding-top: 10px;
}
*/

/*
.py.class {
    border-top: 4px solid #d0d0d0;
    border-bottom: 4px solid #d0d0d0;
    padding-bottom: 15px;
    padding-top: 15px;
}

.py.class .field-list.simple {
    row-gap: 6px;
}

.py.method {
    border-top: 1px solid #d0d0d0;
    padding-bottom: 6px;
    padding-top: 6px;
}

.py.method .sig.sig-object.py {
    font-size: 85%;
}
*/
